<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Position</th>
        <th style="text-align: center;">Reject</th>
        <th style="text-align: center;">Accept</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let res of data;">
        <td>{{ res.name }}</td>
        <td>{{ res.desc }}</td>
        <td>
          <a class="button icon solid fa-square-xmark" style="margin-top: 10px; cursor: pointer; margin-left: 5px; background-color: #b63535;"></a>
        </td>
        <td>
          <a class="button icon solid fa-square-check" style="margin-top: 10px; cursor: pointer; margin-left: 5px; background-color: #22cf3f;"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>