<div id="page-wrapper">
  <!-- Header -->
  <section id="header">
    <div class="container">
      <!-- Logo -->
      <h1 id="logo">
        <a routerLink="/">&ldquo; Vote today for a better tomorrow &rdquo;</a>
      </h1>
      <p>
        Leadership is not about being in charge. It's about taking care of those
        in your charge.
      </p>

      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li>
            <a class="icon solid fa-home" routerLink="/"><span>Home</span></a>
          </li>

          <li>
            <a class="icon solid fa-volume-high" (click)="scroll(voting)"
              ><span>Voting explained</span></a
            >
          </li>

          <li>
            <a class="icon solid fa-right-to-bracket" routerLink="/login"
              ><span>Login</span></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </section>



  <!-- Banner -->
  <section id="banner">
    <div class="container">
      <p>
        "Voting is not only a right, but a
        <strong>responsibility.</strong> Embracing the convenience of e-voting
        <strong>empowers</strong> us to participate in the democratic process
        with greater ease and accessibility, ensuring that every
        <strong>voice</strong> is heard and every vote counts."
      </p>
    </div>
  </section>

  <!-- Main -->
  <ng-container #voting>
    <app-voting-explained></app-voting-explained>

  </ng-container>

<app-footer> </app-footer>
</div>
